.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 30px 0;
    gap: 15px;
    overflow: hidden;
    button{
        width: 330px;
        height: 100px;
        border:none;
        line-height: 20px;
        font-size: 15px;
        font-weight: 500;
        background-color: $white-normal;
        color: $secondary-dark;
        border: 1px solid $secondary-dark;
        border-radius: 4px;
    }
    button:hover{
        animation: zoom-text .8s infinite alternate;
    }
    h2{
        font-family:'Raleway'
    }
    .faq-container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        border:1px solid $secondary-light;
        min-height: 80px;
        .question-container{
            width: 100%;
            padding: 0 20px;
            display:flex;
            justify-content: space-between;
            label:nth-child(2){
                display:flex;
                align-items:center;
            }
            .question{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap:40px;
                
                p{
                    font-size: 2em;
                    user-select: none;
                    font-family:'Raleway';
                }
                i{
                    color:$secondary-normal;
                    font-size: 1.5em;
                    
                }
                .interrogation{
                    font-size: 2.5em;
                }
            }
            .arrow{
                color:$secondary-normal;
                font-size: 1.5em;
                transform: rotate(90deg);
                transition: transform .3s ease-in-out;
            }
        }
        .answer{
            display: flex;
            pointer-events: none;
            p{
                font-family:'PT Serif', serif;
            }
        }
        input{
            display:none;
        }
        input:checked {
            ~ .answer{
            
            margin-top:15px;
            opacity: 1;
            min-height: 50px;
            transition: height 0.2s, opacity 0.1s;
            height: 100%;
            }
            ~ .question-container .arrow{
                transform: rotate(-90deg)
            }
        }
        .answer{
            margin-top: 0;
            height: 0;
            opacity: 0;
            transition: height 0.3s, opacity 0.2s, margin-top .5s;
        }
        
        
    }
    .faq-container:hover{
        .question{
            .interrogation{
                
                animation: zoom 0.8s infinite alternate;
            }
        }
    }
}

@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}

@keyframes zoom-text{
    from{
        font-size: 15px;
        font-weight: 500;
    }
    to{
        font-size: 17px;
        font-weight: 500;
    }
}

@media screen and (max-width:450px){
    .faq .faq-container .question-container .question{
        gap: 20px;
    }
}