.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    h2{
        text-align: center;
        padding: 10px;
        font-family:'Raleway'
    }
    h3{
        color: $primary-light;
        text-align: center;
        font-family:'Raleway'
        
    }
    p{
        font-family:'PT Serif', serif;
        font-weight: 500;
        text-align:center;
    }
    width: 100%;
    min-width:370px;
    background: url(../assets/bg-dots.webp) repeat,linear-gradient(180deg,rgba(255, 255, 255, 0.897) 0%,#FFFFFF 5%);
}

.services-content{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 40px;
}

.service{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color:$white-normal;
    border-radius: 8px;
    box-shadow:0 -1px 17px -4px rgba(0,0,0, .5);
    overflow: hidden;
    min-width: 25%;
    max-width: 300px;
    transition: transform .2s;
    img{
        width: 100%;
        max-height: 180px;
        object-fit: cover;
        transition: transform .2s;
    }
    z-index:1;
}

.service:hover{
    transform:scale(1.1);
    z-index: 1;
}

.service-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index:99;
    gap: 15px;
}

@media screen and (max-width: 768px){
    
    .services{
        flex-direction: column;
    }

    .service img{
        max-width:740px;
    }
}
@media screen and (max-width:738px){
    .service{
        min-width: 165px;
        max-width: 275px;
    }
}
// @media screen and (max-width:950px){
//     .service{
//         min-width: 32%;
//     }
// }
@media screen and (max-width:490px){
    .service{
        min-height: 12%;
    }
}
@media screen and (max-width:485px){
    .services-content{
        padding-bottom: 0;
    }
}
.service:hover{
    outline: 1px solid #f5b230;
    box-shadow: 0 3px 16px -4px #d0a145;
    color: $black-dark;
}