@import 'partials/colors';
@import 'partials/header';
@import 'partials/layout';
@import 'partials/services';
@import 'partials/about';
@import 'partials/diferencial';
@import 'partials/footer';
@import 'partials/popupwpp';
@import 'partials/faq';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}

body{
    font-family: 'Sora', sans-serif;
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-light;
    overflow-x: hidden;
}

button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;

}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor:pointer;
    text-decoration: none;
}
